<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CaMatch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" (click)="crearNuevaEntrada()">Nueva Publicacion</ion-button>

  <ion-list>
    <ion-item *ngFor="let entrada of entradas">
      <ion-card>
        <ion-img [src]="entrada.foto" style="max-width: 200px;"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ entrada.titulo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ entrada.descripcion }}
        </ion-card-content>
        <ion-button (click)="eliminarEntrada(entrada)" expand="block">Eliminar</ion-button>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
